version: "3.8"
services:
  qbit:
    image: linuxserver/qbittorrent:latest
    container_name: qbit
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - UMASK_SET=022
      - WEBUI_PORT=8080
    volumes:
      - ./docker/config:/config
      - ./docker/downloads:/downloads
      - ./vuetorrent:/vuetorrent
    ports:
      - "8080:8080"
    restart: unless-stopped
