div.autofill-container[data-v-924d606d]:focus-within{outline:1px solid #fff}div.autofill-container--disabled[data-v-924d606d]{opacity:.5;pointer-events:none}input[data-v-924d606d]:focus{outline:none}
