$primary: #35495E;
$secondary: #3E556D;
$download: #5BB974;
$upload: #00B3FA;
$ratio: #00B2F8;
$state: #1E9367;
$category: #04669A;
$tag: #048B9A;
$tracker: #C97D09;

// State filter colors
$state-downloading: #5BB974;
$state-stalled_downloading: #5BB974;
$state-seeding: #4ECDE6;
$state-stalled_uploading: #4ECDE6;
$state-completed: #16573E;
$state-resumed: #BDBDBD;
$state-active: #BDBDBD;
$state-stalled: #696969;
$state-paused: #696969;
$state-inactive: #696969;
$state-checking: #FF7043;
$state-moving: #FFAA2C;
$state-errored: #F83E70;

// Torrent state colors
$torrent-error: #F83E70;
$torrent-missingFiles: #F83E70;
$torrent-uploading: #4E79E6;
$torrent-forcedUP: #4E79E6;
$torrent-pausedUP: #16573E;
$torrent-queuedUP: #2E5EAA;
$torrent-stalledUP: #4ECDE6;
$torrent-checkingUP: #FF7043;
$torrent-allocating: #E5A241;
$torrent-downloading: #5BB974;
$torrent-forcedDL: #5BB974;
$torrent-metaDL: #7E57C2;
$torrent-pausedDL: #9CA3AF;
$torrent-queuedDL: #2E5EAA;
$torrent-stalledDL: #4ADE80;
$torrent-checkingDL: #FF7043;
$torrent-checkingResumeData: #FF7043;
$torrent-moving: #FFAA2C;
$torrent-unknown-light: #000000;
$torrent-unknown-dark: #FFFFFF;
