$primary: #35495e;
$secondary: #3e556d;
$download: #5bb974;
$upload: #00b3fa;
$ratio: #00b2f8;
$state: #1e9367;
$category: #04669a;
$tag: #048b9a;
$tracker: #c97d09;

// Torrent state colors
$torrent-error: #f83e70;
$torrent-missingFiles: #f83e70;
$torrent-uploading: #4e79e6;
$torrent-forcedUP: #4e79e6;
$torrent-pausedUP: #16573e;
$torrent-queuedUP: #2e5eaa;
$torrent-stalledUP: #4ecde6;
$torrent-checkingUP: #ff7043;
$torrent-allocating: #e5a241;
$torrent-downloading: #5bb974;
$torrent-forcedDL: #5bb974;
$torrent-metaDL: #7e57c2;
$torrent-forcedMetaDL: #7e57c2;
$torrent-pausedDL: #9ca3af;
$torrent-queuedDL: #2e5eaa;
$torrent-stalledDL: #4ade80;
$torrent-checkingDL: #ff7043;
$torrent-checkingResumeData: #ff7043;
$torrent-moving: #ffaa2c;
$torrent-unknown-light: #000000;
$torrent-unknown-dark: #ffffff;
