// Torrent status colors
$torrent-done: #16573e;
$torrent-downloading: #5bb974;
$torrent-fail: #f83e70;
$torrent-errored: $torrent-fail;
$torrent-paused: #9ca3af;
$torrent-queued: #2e5eaa;
$torrent-uploading: #4e79e6;
$torrent-seeding: #4ecde6;
$torrent-checking: #ff7043;
$torrent-stalled: #4ade80;
$torrent-metadata: #7e57c2;
$torrent-moving: #ffaa2c;
$torrent-unknown: #000000;
