@import "~@/styles/colors.scss";

.settings_content {
  border-left: 2px solid #{$primary};
  padding-left: 8px;
}

.box {
  margin: 2px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #{$primary};
}