@import 'colors';

ul.no-bullet {
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

.wrap-word {
  overflow-wrap: break-word !important;
}

.wrap-anywhere {
  overflow-wrap: anywhere !important;
}

.text-noselect {
  -webkit-touch-callout: default; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

.text-select {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

$sideborder-margin: 6px;

.sideborder {
  border-left: #{$sideborder-margin} solid grey;

  &.error {
    border-left-color: #{$torrent-error};
  }
  &.missingFiles {
    border-left-color: #{$torrent-missingFiles};
  }
  &.uploading {
    border-left-color: #{$torrent-uploading};
  }
  &.forcedUP {
    border-left-color: #{$torrent-forcedUP};
  }
  &.pausedUP {
    border-left-color: #{$torrent-pausedUP};
  }
  &.queuedUP {
    border-left-color: #{$torrent-queuedUP};
  }
  &.stalledUP {
    border-left-color: #{$torrent-stalledUP};
  }
  &.checkingUP {
    border-left-color: #{$torrent-checkingUP};
  }
  &.allocating {
    border-left-color: #{$torrent-allocating};
  }
  &.downloading {
    border-left-color: #{$torrent-downloading};
  }
  &.forcedDL {
    border-left-color: #{$torrent-forcedDL};
  }
  &.metaDL {
    border-left-color: #{$torrent-metaDL};
  }
  &.forcedMetaDL {
    border-left-color: #{$torrent-forcedMetaDL};
  }
  &.pausedDL {
    border-left-color: #{$torrent-pausedDL};
  }
  &.queuedDL {
    border-left-color: #{$torrent-queuedDL};
  }
  &.stalledDL {
    border-left-color: #{$torrent-stalledDL};
  }
  &.checkingDL {
    border-left-color: #{$torrent-checkingDL};
  }
  &.checkingResumeData {
    border-left-color: #{$torrent-checkingResumeData};
  }
  &.moving {
    border-left-color: #{$torrent-moving};
  }
  &.unknown {
    &.v-theme--darkTheme {
      border-left-color: #{$torrent-unknown-dark};
    }
    &.v-theme-lightTheme {
      border-left-color: #{$torrent-unknown-light};
    }
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
  background: background-color;
}
::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: #6b7280;
}

/* iOS PWA */
.ios-padding {
  padding-top: calc(env(safe-area-inset-top) * 0.5);
}

.ios-margin {
  margin-top: calc(env(safe-area-inset-top) * 0.5);
}
