@import "~@/styles/colors.scss";

$sideborder-margin: 5px;

.sideborder.done {
    border-left: #{$sideborder-margin} solid #{$torrent-done};
}
.sideborder.downloading {
    border-left: #{$sideborder-margin} solid #{$torrent-downloading};
}
.sideborder.fail {
    border-left: #{$sideborder-margin} solid #{$torrent-fail};
}
.sideborder.paused {
    border-left: #{$sideborder-margin} solid #{$torrent-paused};
}
.sideborder.queued {
    border-left: #{$sideborder-margin} solid #{$torrent-queued};
}
.sideborder.seeding {
    border-left: #{$sideborder-margin} solid #{$torrent-seeding};
}
.sideborder.checking {
    border-left: #{$sideborder-margin} solid #{$torrent-checking};
}
.sideborder.stalled {
    border-left: #{$sideborder-margin} solid #{$torrent-stalled};
}
.sideborder.metadata {
    border-left: #{$sideborder-margin} solid #{$torrent-metadata};
}
.sideborder.moving {
    border-left: #{$sideborder-margin} solid #{$torrent-moving};
}
.v-chip.done {
    background: #{$torrent-done} !important;
}
.v-chip.downloading {
    background: #{$torrent-downloading} !important;
}
.v-chip.fail {
    background: #{$torrent-fail}!important;
}
.v-chip.paused {
    background: #{$torrent-paused} !important;
}
.v-chip.queued {
    background: #{$torrent-queued} !important;
}
.v-chip.seeding {
    background: #{$torrent-seeding} !important;
}
.v-chip.checking {
    background: #{$torrent-checking} !important;
}
.v-chip.stalled {
    background: #{$torrent-stalled} !important;
}
.v-chip.metadata {
    background: #{$torrent-metadata} !important;
}
.v-chip.moving {
    background: #{$torrent-moving} !important;
}

.v-text-field--outlined fieldset {
    border-color: #{$primary} !important;
}

.v-text-field--outlined fieldset {
    border-color: #{$primary} !important;
}

.v-input__slot:hover fieldset {
    border-color: #{$primary} !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.pointer {
    cursor: pointer;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.robot-mono {
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: 0;
}

.transparent {
    background-color: transparent!important;
    border-color: transparent!important;
}

body {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: #E2E8F0;
        border-radius: 20px;
    }
}