@import "colors";

ul.no-bullet {
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

.wrap-anywhere {
  overflow-wrap: anywhere !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

$sideborder-margin: 6px;

.sideborder {
  border-left: #{$sideborder-margin} solid #{$torrent-done};
}