@import 'colors';

ul.no-bullet {
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

.wrap-anywhere {
  overflow-wrap: anywhere !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                         supported by Chrome and Opera */
}

$sideborder-margin: 6px;

.sideborder {
  border-left: #{$sideborder-margin} solid grey !important;

  &.error {
    border-left-color: #{$torrent-error} !important;
  }
  &.missingFiles {
    border-left-color: #{$torrent-missingFiles} !important;
  }
  &.uploading {
    border-left-color: #{$torrent-uploading} !important;
  }
  &.forcedUP {
    border-left-color: #{$torrent-forcedUP} !important;
  }
  &.pausedUP {
    border-left-color: #{$torrent-pausedUP} !important;
  }
  &.queuedUP {
    border-left-color: #{$torrent-queuedUP} !important;
  }
  &.stalledUP {
    border-left-color: #{$torrent-stalledUP} !important;
  }
  &.checkingUP {
    border-left-color: #{$torrent-checkingUP} !important;
  }
  &.allocating {
    border-left-color: #{$torrent-allocating} !important;
  }
  &.downloading {
    border-left-color: #{$torrent-downloading} !important;
  }
  &.forcedDL {
    border-left-color: #{$torrent-forcedDL} !important;
  }
  &.metaDL {
    border-left-color: #{$torrent-metaDL} !important;
  }
  &.pausedDL {
    border-left-color: #{$torrent-pausedDL} !important;
  }
  &.queuedDL {
    border-left-color: #{$torrent-queuedDL} !important;
  }
  &.stalledDL {
    border-left-color: #{$torrent-stalledDL} !important;
  }
  &.checkingDL {
    border-left-color: #{$torrent-checkingDL} !important;
  }
  &.checkingResumeData {
    border-left-color: #{$torrent-checkingResumeData} !important;
  }
  &.moving {
    border-left-color: #{$torrent-moving} !important;
  }
  &.unknown {
    &.v-theme--darkTheme {
      border-left-color: #{$torrent-unknown-dark} !important;
    }
    &.v-theme-lightTheme {
      border-left-color: #{$torrent-unknown-light} !important;
    }
  }
}
