@import '~vuetify/src/components/VAppBar/_variables.scss';
@import '~vuetify/src/components/VSelect/_variables.scss';
@import '~vuetify/src/components/VBtn/_variables.scss';

$app-bar-elevation: 24 !important;
$input-font-size: 1.2em !important;
$select-prefix-line-height: 0px !important;
$rounded: (
  0: 0,
  'sm': $border-radius-root / 2,
  null: $border-radius-root,
  'lg': $border-radius-root * 2,
  'xl': $border-radius-root * 6,
  'pill': 9999px,
  'circle': 50%,
  'form': $border-radius-root,
  // * 4
  'formtop': $border-radius-root * 2 // * 5,
);
