@import '~vuetify/src/styles/styles.sass';

@mixin dialog-title {
    @include theme(v-card) using($material) {
        .v-card__title {
            background-color: map-get($material, 'app-bar');
        }
    }
}

@mixin dark-mode-value($light, $dark) {
    &.theme--light {
        @content ($light);
    }
    &.theme--dark {
        @content ($dark);
    }
}

.project.done {
    border-left: 4px solid #3cd1c2;
}
.project.busy {
    border-left: 4px solid #ffaa2c;
}
.project.fail {
    border-left: 4px solid #f83e70;
}
.project.paused {
    border-left: 4px solid #cfd8dc;
}
.project.queued {
    border-left: 4px solid #2e5eaa;
}
.project.seeding {
    border-left: 4px solid #00897B;
}
.project.checking {
    border-left: 4px solid #FF7043;
}
.v-chip.done {
    background: #3cd1c2 !important;
}
.v-chip.busy {
    background: #ffaa2c !important;
}
.v-chip.fail {
    background: #f83e70 !important;
}
.v-chip.paused {
    background: #cfd8dc !important;
}
.v-chip.queued {
    background: #2e5eaa !important;
}
.v-chip.seeding {
    background: #00897B!important;
}
.v-chip.checking {
    background: #FF7043!important;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.v-chip.queued {
    background: #2e5eaa !important;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.pointer {
    cursor: pointer;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
