@import '~vuetify/src/styles/styles.sass';

.v-input--selection-controls {
    padding-top: 0px;
}

.settings_content {
    border-left: 2px solid var(--v-search-base);
    padding-left: 8px;
}

.box {
    margin: 2px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--v-search-base);
}
