name: Notify Discord webhook of stable releases
on:
  release:
    types:
    - released

jobs:
  release-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Send release to Discord Webhook
        uses: VueTorrent/release-to-discord@v1
        with:
          webhook_url: ${{ secrets.WEBHOOK_URL }}
